<div>Hello</div>

<% flash.each do |key,value|%>
    <div class="<%= key %>"> <%= value %>  </div>
<% end %>

<% if current_user %>
<%= link_to "Register", new_user_path %>
    <%= link_to "CREATE AN ACCOUNT", new_session_path %>
<% else %>
    <%= link_to "LOG IN", new_session_path %>
<% end %>