<div class="atras">
  <div class="container">


    <div class="row">
      <div class="azul">

        <div class="col-sm-8">
          <div style="background:limegreen">vegas</div>
        </div>

        <div class="col-sm-4">
          <div style="background:red">know</div>
          <p>While I doubt you’ll get much sympathy from McJester, who has likely seen every bad beat possible, it did get me
            thinking. What are the worst ways to get bad beat in DFS? In a Letterman-homage, here’s what I came up with.</p>
          <%= link_to "LOG IN",'#', class:"btn btn-default" %>
          <%= link_to "CREATE AN ACCOUNT", '#', class:"btn btn-default" %>

          <div style="background:red">know</div>
          <p>While I doubt you’ll get much sympathy from McJester, who has likely seen every bad beat possible, it did get me
            thinking. What are the worst ways to get bad beat in DFS? In a Letterman-homage, here’s what I came up with.</p>
          <%= link_to "LOG IN",'#', class:"btn btn-default" %>
          <%= link_to "CREATE AN ACCOUNT", '#', class:"btn btn-default" %>

          <div style="background:red">know</div>
          <p>While I doubt you’ll get much sympathy from McJester, who has likely seen every bad beat possible, it did get me
            thinking. What are the worst ways to get bad beat in DFS? In a Letterman-homage, here’s what I came up with.</p>
          <%= link_to "LOG IN",'#', class:"btn btn-default" %>
          <%= link_to "CREATE AN ACCOUNT", '#', class:"btn btn-default" %>

          <div style="background:red">know</div>
          <p>While I doubt you’ll get much sympathy from McJester, who has likely seen every bad beat possible, it did get me
            thinking. What are the worst ways to get bad beat in DFS? In a Letterman-homage, here’s what I came up with.</p>
          <%= link_to "LOG IN",'#', class:"btn btn-default" %>
          <%= link_to "CREATE AN ACCOUNT", '#', class:"btn btn-default" %>

          <div style="background:red">know</div>
          <p>While I doubt you’ll get much sympathy from McJester, who has likely seen every bad beat possible, it did get me
            thinking. What are the worst ways to get bad beat in DFS? In a Letterman-homage, here’s what I came up with.</p>
          <%= link_to "LOG IN",'#', class:"btn btn-default" %>
          <%= link_to "CREATE AN ACCOUNT", '#', class:"btn btn-default" %>

          <div style="background:red">know</div>
          <p>While I doubt you’ll get much sympathy from McJester, who has likely seen every bad beat possible, it did get me
            thinking. What are the worst ways to get bad beat in DFS? In a Letterman-homage, here’s what I came up with.</p>
          <%= link_to "LOG IN",'#', class:"btn btn-default" %>
          <%= link_to "CREATE AN ACCOUNT", '#', class:"btn btn-default" %>

          <div style="background:red">know</div>
          <p>While I doubt you’ll get much sympathy from McJester, who has likely seen every bad beat possible, it did get me
            thinking. What are the worst ways to get bad beat in DFS? In a Letterman-homage, here’s what I came up with.</p>
          <%= link_to "LOG IN",'#', class:"btn btn-default" %>
          <%= link_to "CREATE AN ACCOUNT", '#', class:"btn btn-default" %>
        </div>

      </div>
    </div>

  </div> <!-- /container -->
</div>